<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kickball League</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>Simpsons Slammers</h1>

    <ul>
    <% @players.each do |player| %>
        <li><a href=<%= player %></li>
      <% end %>
    </ul>

  </body>
</html>
